/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap'); */

:root {
  --background: #fff;
  --background-dark: #333333;
  --border: 3px solid black;
  --darker-text: #333;
  --grey-blue: #454754;
  --text: #666;
  --light: #999;
  --white: #fff;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
::selection {
  background: var(--light);
  color: var(--white);
}
html,
body {
  font-family: Helvetica Neue, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: var(--text);
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-size: 14px;
  /* background: linear-gradient(
    0deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}
ul {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

a {
  color: var(--darker-text);
}
li {
  padding-bottom: 0.5rem;
}

blockquote {
  padding-bottom: 1rem;
}
blockquote:last-of-type {
  padding-bottom: 2rem;
}

.showKeys,
.showKeys * {
  background-color: lightpink !important;
}
h2 {
  color: var(--darker-text);
  margin-bottom: 2rem;
}
em,
b {
  color: var(--darker-text);
}
p {
  line-height: 1.5rem;
}
