/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap'); */

:root {
  --background: #fff;
  --background-dark: #333333;
  --border: 3px solid black;

  --light: #999;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
::selection {
  background: var(--background-light); /* WebKit/Blink Browsers */
}
html,
body {
  font-family: Helvetica Neue, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  width: 100%;
  overflow-x: hidden;
}
ul {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

li {
  padding-bottom: 0.5rem;
}

blockquote {
  padding-bottom: 1rem;
}
blockquote:last-of-type {
  padding-bottom: 2rem;
}
